# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
entrypoint.sh
nginx.conf

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Docusaurus
docusaurus/node_modules
docusaurus/build

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
